
html{
	height: 100%;
}
form{
	text-align: center;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper{
	background-image: url("../images/backgrounds/desktop.jpg");
	background-size: 100%;
	height: 100%;
	width: 100%;
	min-width: 950px;
}

.login_box{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 7%;
	width: 35%;
	background-color: #ffffff;
	border: 1px solid #EDEDED;
	border-radius: 7px;
	padding: 5px;
	opacity: 0.9;
}

.login_header{
    width: 100%;
    height: 90%;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-bottom: 7px;
}


.login_header h1{
	color: #1f608b;
	margin-top: 0;
	margin-bottom: 0;

}








